<h2>Edit <%= @current_user.email %></h2>

<div class="row">
  	<%= form_for @user do |f| %>
		<div class="for-group">
			<label>First name</label>
			<%= f.text_field :first_name %>
		</div>
		<div class="for-group">
			<label>Last name</label>
			<%= f.text_field :last_name %>
		</div>
		<div class="for-group">
			<label>Description</label>
			<%= f.text_area :description %>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-dark">Update</button>
		</div>
	<% end %>
	<div class="for-group">
		<%= form_tag user_avatars_path(@user), multipart: true do %>
	 		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
			<label>Avatar</label>
			<%= file_field_tag :avatar %>
			<%= submit_tag "add" %>
		<% end %>
	</div>
</div>


<%= link_to "Back", :back %>


