<h2>Edit <%= @current_user.first_name %></h2>

<div class="row">
  	<%= form_for @user do |f| %>
		<div class="for-group">
			<label>First name</label>
			<%= f.text_field :first_name %>
		</div>
		<div class="for-group">
			<label>Last name</label>
			<%= f.text_field :last_name %>
		</div>
		<div class="for-group">
			<label>Description</label>
			<%= f.text_area :description %>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-dark">Update</button>
		</div>
	<% end %>
</div>

<h3>Changer d'avatar ?</h3>
<%= form_tag user_avatars_path(@user), multipart: true do %>
  <%= file_field_tag :avatar %>
  <%= submit_tag "mettre à jour" %>
<% end %>

<%= link_to "Back", :back %>


