<div class="jumbotron">
  <h1 class="display-3">Your profile</h1>
    <%if @user.avatar.attached?%>
      <%= image_tag @user.avatar, alt: 'avatar' %>
    <%else%>
      <p>=== Il n'y a pas encore d'avatar lié à cet utilisateur ===</p>
    <%end%>
  <ul class="nav nav-tabs">
      <li class="nav-item">
        <%=@user.first_name%>
      </li>
    </ul>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%=@user.last_name%>
      </li>
    </ul>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%=@user.email%>
      </li>
    </ul>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%=@user.description%>
      </li>
    </ul>

    <% if !@user.created_events.empty? %>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <h3>Created events</h3>
          <div class="container">
            <div class="row">
          <%@user.created_events.each do |event|%>
              <div class="col-sm"> 
                <%= event.title %><br>
                <%= event.description %><br>
              </div>
          <%end%>
            </div>
          </div>
        </li>
      </ul>
    <%else%>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <strong>You haven't yet created any event</strong>
        </li>
      </ul>
    <%end%>

    <% if !@user.attendances.empty? %>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <h3>Interesting events</h3>
          <div class="container">
            <div class="row">
          <%@user.attendances.each do |attendance|%>
            <% unless attendance.event.nil? %>
              <div class="col-sm"> 
                <%= attendance.event.title %><br>
                <%= attendance.event.description %><br>
              </div>
            <% end %>
          <%end%>
            </div>
          </div>
        </li>
      </ul>
    <%end%>
    
    <div style="float: right;">
      <span class="badge badge-info">
        <%= link_to "Edit profile", edit_user_path %></span>
    </div>
    
</div>

