<div class="jumbotron">
  <div style="column-count: 2;">
      <span >
        <%if @user.avatar.attached?%>
          <%= image_tag @user.avatar, alt: 'avatar', height: "100", width: "100" %>
        <%else%>
          <p>=== You didn't put any avatar yet ===</p>
        <%end%>
      </span>
    <h1 class="display-3">Your profile</h1>
  </div>
  <ul class="nav nav-tabs">
      <li class="nav-item">
        <%=@user.first_name%>
      </li>
    </ul>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%=@user.last_name%>
      </li>
    </ul>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%=@user.email%>
      </li>
    </ul>
    <ul class="nav nav-tabs">
    <% if @user.description %>
      <li class="nav-item">
        <%=@user.description%>
      </li>
    <% else %>
      <li class="nav-item">
        <p>=== Your description will apear here ===</p>
      </li>
    <% end %>
    </ul>

    <% if !@user.created_events.empty? %>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <h3>Created events</h3>
          <div class="container">
            <div class="row">
          <%@user.created_events.each do |event|%>
              <div class="col-sm"> 
                <%= event.title %><br>
                <%= event.description %><br>
              </div>
          <%end%>
            </div>
          </div>
        </li>
      </ul>
    <%else%>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <strong>You haven't yet created any event</strong>
        </li>
      </ul>
    <%end%>

    <% if !@user.attendances.empty? %>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <h3>Interesting events</h3>
          <div class="container">
            <div class="row">
          <%@user.attendances.each do |attendance|%>
            <% unless attendance.event.nil? %>
              <div class="col-sm"> 
                <%= attendance.event.title %><br>
                <%= attendance.event.description %><br>
              </div>
            <% end %>
          <%end%>
            </div>
          </div>
        </li>
      </ul>
    <%end%>
    
    <div style="float: right;">
      <span class="badge badge-info">
        <%= link_to "Edit profile", edit_user_path %></span>
    </div>
    
</div>

