<div>  
  <% if user_signed_in? %>
    <h2>Welcome, <%= current_user.first_name %></h2><br>
      
    
    <h2>Available events</h2>
      <div class="container">
        <div class="row">
        

          <% @all_events.each do |event| %>
            
            <div style="column-count: 3;">
                <span >
                  <%if event.image.attached?%>
                    <%= image_tag event.image, alt: 'image', height: "100", width: "100" %>
                  <%else%>
                    <p>=== You didn't put any picture yet ===</p>
                  <%end%>
                </span>
                <% if event.start_date < Time.now %>   
                  <div class="card border-danger" style="max-width: 20rem;">
                    <div class="card-header">Host : <%= event.admin.first_name %> (Event Past)</div>
                      <div class="card-body">
                        <p class="card-text">
                          Title : <%= event.title %><br>
                          Description : <%= event.description %><br>
                        </p>
                      </div>
                    </div>
                  </div>
                <% else %>
                  <div class="card border-warning" style="max-width: 20rem;">
                    <div class="card-header">Host : <%= event.admin.first_name %></div>
                      <div class="card-body">
                        <p class="card-text">
                          Title : <%= link_to "#{event.title}", event_path(event.id) %><br>
                          Description : <%= event.description %><br>
                        </p>
                      </div>
                    </div>
                  </div>
                <% end %>
            </div><br>

          <% end %> 


        </div>   
      </div>   

      
  <% else %>


    <div class="container" style="text-align: center;">
    
      <h3 class="omb_authTitle"><%= link_to "Login", new_user_session_path %> or <%= link_to "Sign up", new_user_registration_path %> </h3>

    </div>

  <% end %>
</div>


<!-- 
  <div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Primary card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Secondary card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border-success mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Success card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border-danger mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Danger card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border-warning mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Warning card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border-info mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Info card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border-light mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Light card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border-dark mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Dark card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div> -->




