<h2>Edit Event</h2>

<div class="row">
  	<%= form_for @event do |f| %>
		<div class="for-group">
			<label>Title</label>
			<%= f.text_field :title %>
		</div>
		<div class="for-group">
			<label>Duration(in hour)</label>
			<%= f.number_field :duration %>
		</div>
		<div class="for-group">
			<label>Start date</label>
			<%= f.date_field :start_date %>
		</div>
		<div class="for-group">
			<label>Location</label>
			<%= f.text_field :location %>
		</div>
		<div class="for-group">
			<label>price</label>
			<%= f.text_field :price %>
		</div>
		<div class="for-group">
			<label>Description</label>
			<%= f.text_area :description %>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-ligth">Update</button>
		</div>
	<% end %>
</div>


	